<p id="notice"><%= notice %></p>
<% i = 1 %>
<% @questions.each do |question| %>
	<h3><%= i %> </h3>
	<div class="question <%=question.material%>"><%= question.question.html_safe %></div>
	<% i = i+1 %>
<% end %>
