<div ng-app="templateApp">
	<div ng-controller="templateCtrl" ng-init="init(<%=@id%>)">
		<div id='question' ng-bind-html="template.md | toHtml "></div>
		<textarea ng-model='template.question' cols=80 rows=20></textarea>
		<br/>
		<button ng-click="save()">Save</button>
		<br/>
		<label>{{status}}</label>
	</div>
</div>


